@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

body{
  background-color: #c48f7f5b;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f4ddd5;
}

.logo {
  margin-left: 1rem;
}

.logo img {
  height: 65px;
}

.navbar {
  display: flex;
}

.navbar button {
  height: 100%;
  border: none;
  background-color: #f4ddd5;;
  padding: 0 1rem;
  font-size: 1.3rem;
  color: rgb(110, 110, 110);
}

.nav-items button:hover {
  cursor: pointer;
  background-color: #c48f7f;
}
.hamburger{
  display: none;
}

.foto {
  height: calc(100vh - 69px);
}
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2.5rem;
}
.categories {
  display: flex;
  margin: 1rem 0;
}

.categories article {
  flex: 1 100%;
  text-align: center;
}

.categories img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.categories h3 {
  position: relative;
  bottom: 50%;
  color: rgb(28, 28, 28);
  display: none;
  font-size: 2rem;
}

.categories > article:hover h3 {
  display: inline;
}

.categories > article:hover{
  height: 300px;
}

.categories > article:hover img{
    opacity: 0.5;
    transition: all .3s linear;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0;
    
}

.card{
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #eae9e5;
    padding: 1rem;
    border-radius: 1rem;
}

.card img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 1rem;
}

@media screen and (max-width: 700px) {
  .hamburger{
    display: inline;
  }
  .nav-items{
    display: none;
  }
}